In [1]:
import os
import pandas as pd 
import csv
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sts 
from scipy.stats import linregress

In [2]:
final_census_data = pd.read_csv("final_census_data.csv")
organized_census_data = pd.read_csv("organized_census_data.csv")
organized_census_data['Year'].astype(int)
organized_census_data

,Year,City,Household Income,Population,Per Capita Income,Poverty Count,Unemployment Count,State ID,Place ID
0,2011,"Charlotte city, North Carolina",53146.0,722234.0,31667.0,106321.0,40293.0,37,12000
1,2011,"San Francisco city, California",72947.0,797983.0,46777.0,96801.0,36368.0,6,67000
2,2012,"Charlotte city, North Carolina",52916.0,740931.0,31653.0,116542.0,43508.0,37,12000
3,2012,"San Francisco city, California",73802.0,807755.0,47278.0,104784.0,39369.0,6,67000
4,2013,"Charlotte city, North Carolina",52375.0,757278.0,31556.0,127166.0,47673.0,37,12000
5,2013,"San Francisco city, California",75604.0,817501.0,48486.0,108306.0,41148.0,6,67000
6,2014,"Charlotte city, North Carolina",53274.0,774807.0,31844.0,131826.0,46895.0,37,12000
7,2014,"San Francisco city, California",78378.0,829072.0,49986.0,108328.0,38318.0,6,67000
8,2015,"Charlotte city, North Carolina",53637.0,792137.0,32254.0,131404.0,42383.0,37,12000
9,2015,"San Francisco city, California",81294.0,840763.0,52220.0,109524.0,34785.0,6,67000
10,2016,"Charlotte city, North Carolina",55599.0,808834.0,33050.0,125793.0,38623.0,37,12000
11,2016,"San Francisco city, California",87701.0,850282.0,55567.0,104180.0,32234.0,6,67000
12,2017,"Charlotte city, North Carolina",58202.0,826060.0,34687.0,121412.0,34115.0,37,12000
13,2017,"San Francisco city, California",96265.0,864263.0,59508.0,99096.0,29102.0,6,67000
14,2018,"Charlotte city, North Carolina",60886.0,841611.0,36426.0,115699.0,29544.0,37,12000
15,2018,"San Francisco city, California",104552.0,870044.0,64157.0,92979.0,25320.0,6,67000

In [3]:
charlotte_data = organized_census_data.loc[(organized_census_data['City']=='Charlotte city, North Carolina')]
san_francisco_data = organized_census_data.loc[(organized_census_data['City']=='San Francisco city, California')]
charlotte_data

,Year,City,Household Income,Population,Per Capita Income,Poverty Count,Unemployment Count,State ID,Place ID
0,2011,"Charlotte city, North Carolina",53146.0,722234.0,31667.0,106321.0,40293.0,37,12000
2,2012,"Charlotte city, North Carolina",52916.0,740931.0,31653.0,116542.0,43508.0,37,12000
4,2013,"Charlotte city, North Carolina",52375.0,757278.0,31556.0,127166.0,47673.0,37,12000
6,2014,"Charlotte city, North Carolina",53274.0,774807.0,31844.0,131826.0,46895.0,37,12000
8,2015,"Charlotte city, North Carolina",53637.0,792137.0,32254.0,131404.0,42383.0,37,12000
10,2016,"Charlotte city, North Carolina",55599.0,808834.0,33050.0,125793.0,38623.0,37,12000
12,2017,"Charlotte city, North Carolina",58202.0,826060.0,34687.0,121412.0,34115.0,37,12000
14,2018,"Charlotte city, North Carolina",60886.0,841611.0,36426.0,115699.0,29544.0,37,12000

In [ ]:
#Population Line Graph
charlotte_plot = plt.plot(charlotte_data['Year'], charlotte_data['Population'] , color='blue', label = 'Charlotte')
san_francisco_plot = plt.plot(san_francisco_data['Year'], san_francisco_data['Population'] , color='red', 
                              label = 'San Francisco')

plt.legend(loc="best")

plt.title('Charlotte vs San Francisco Population')
plt.xlabel("Year")
plt.ylabel("Population")

plt.savefig("LinegraphFigs/CLT_vs_SF_Population")
plt.show()

In [ ]:
#Poverty Count
charlotte_plot = plt.plot(charlotte_data['Year'], charlotte_data['Poverty Count'] , color='blue', label = 'Charlotte')
san_francisco_plot = plt.plot(san_francisco_data['Year'], san_francisco_data['Poverty Count'] , color='red', 
                              label = 'San Francisco')

plt.legend(loc="best")

plt.title('Charlotte vs San Francisco Poverty')
plt.xlabel("Year")
plt.ylabel("Poverty Count")

plt.savefig("LinegraphFigs/CLT_vs_SF_Poverty")
plt.show()

In [ ]:
#Unemployment Count
charlotte_plot = plt.plot(charlotte_data['Year'], charlotte_data['Unemployment Count'] , color='blue', label = 'Charlotte')
san_francisco_plot = plt.plot(san_francisco_data['Year'], san_francisco_data['Unemployment Count'] , color='red', 
                              label = 'San Francisco')

plt.legend(loc="best")

plt.title('Charlotte vs San Francisco Unemployment')
plt.xlabel("Year")
plt.ylabel("Unemployment Count")

plt.savefig("LinegraphFigs/CLT_vs_SF_Unemployment")
plt.show()

In [ ]:
#Charlotte Population Linear Regression
charlotte_plot = plt.plot(charlotte_data['Year'], charlotte_data['Population'] , color='blue', label = 'Charlotte')
san_francisco_plot = plt.plot(san_francisco_data['Year'], san_francisco_data['Population'] , color='red', 
                              label = 'San Francisco')

plt.legend(loc="best")

plt.title('Charlotte vs San Francisco Population')
plt.xlabel("Year")
plt.ylabel("Population")

clt_x_values = charlotte_data["Year"]
clt_y_values = charlotte_data["Population"]
slope, intercept, rvalue, pvalue, stderr = linregress(clt_x_values, clt_y_values)
regress_values = clt_x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.annotate(line_eq,(2014,740000),fontsize=10,color="blue")
plt.xlabel('Years')
plt.ylabel('Population')
plt.title('Title')
plt.savefig("LinegraphFigs/CLT_Linear_Regression")
plt.show()