In [20]:
import os
import pandas as pd 
import csv
import matplotlib.pyplot as plt
import numpy as np
import json 
import requests
import pprint as pp
from config import census_api_key 
from config import bls_api_key
import scipy.stats as sts
from us import states
from census import Census

In [64]:
#Census Data and variables 
year=2009

c = Census(census_api_key, year)

census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'place:*'})
census_pd=pd.DataFrame(census_data)

census_pd=census_pd.rename(columns={"B01003_001E": "Population",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                     "NAME": "Name", "place": "State"})
census_pd.tail()

,Name,Household Income,Population,Per Capita Income,Poverty Count,state,State
25297,"Woods Landing-Jelm CDP, Wyoming",58571.0,114.0,33575.0,0.0,56,84852
25298,"Worland city, Wyoming",43578.0,4967.0,26226.0,321.0,56,84925
25299,"Wright town, Wyoming",84345.0,1134.0,29763.0,69.0,56,85015
25300,"Yoder town, Wyoming",28750.0,228.0,16389.0,50.0,56,86665
25301,"Y-O Ranch CDP, Wyoming",24844.0,234.0,31989.0,0.0,56,86737

In [57]:

state_data = census_pd.loc[(census_pd["Name"]=="Charlotte city, North Carolina") |
                         (census_pd["Name"]=="San Francisco city, California")]
state_data

,Name,Household Income,Population,Per Capita Income,Poverty Count,state,State
2443,"San Francisco city, California",70040.0,797271.0,44373.0,90917.0,06,67000
13415,"Charlotte city, North Carolina",52364.0,669064.0,31839.0,83621.0,37,12000